<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Plantilla para tickets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons/css/tachyons.min.css"
    />
    <style>
      @media print {
        .no-print,
        .no-print * {
          display: none !important;
        }
      }
      #app {
        width: 960px;
      }
      .ma-input {
        padding: 10px;
      }
      .ma-ticket {
        page-break-inside: avoid;
      }
    </style>
  </head>

  <body>
    <div class="fl-100">
      <div class="mw8 center" id="app">
        <div class="no-print">
          <h1 class="f1 tc">Plantilla para tickets</h1>
          <p>
            Actualice los campos con los datos de la actividad. Cuando termine
            pulse <tt>Control+P</tt> o vaya al menú <tt>Archivo</tt> para
            imprimir los tickets.
          </p>
          <form class="pa2 black-80 ma-form">
            <div class="fl w-30 bg-light-yellow measure ma-input">
              <label for="subject" class="f6 b db mb2">Evento</label>
              <input
                v-model.trim="subject"
                id="subject"
                class="input-reset ba b--black-20 pa2 mb2 db w-100"
                type="text"
                aria-describedby="subject-desc"
              />
              <small id="subject-desc" class="f6 black-60 db mb2">
                Ejemplo:
                <span class="i">Salida cultural</span>
              </small>
            </div>
            <div class="fl w-50 bg-light-yellow measure ma-input">
              <label for="datetime" class="f6 b db mb2">Fecha y hora</label>
              <input
                v-model="datetime"
                id="datetime"
                class="input-reset ba b--black-20 pa2 mb2 db w-100"
                type="text"
                aria-describedby="datetime-desc"
              />
              <small id="datetime-desc" class="f6 black-60 db mb2">
                Ejemplo:
                <span class="i">20 de Marzo. 9:00am</span>
              </small>
            </div>
            <div class="fl w-10 bg-light-yellow measure ma-input">
              <label for="price" class="f6 b db mb2">Precio</label>
              <input
                v-model.number="price"
                id="price"
                class="input-reset ba b--black-20 pa2 mb2 db w-100"
                type="text"
                min="10"
                aria-describedby="price-desc"
              />
              <small id="price-desc" class="f6 black-60 db mb2">
                Ej:
                <span class="i">3</span>
              </small>
            </div>
            <div class="fl w-10 bg-light-yellow measure ma-input">
              <label for="tickets" class="f6 b db mb2">Tickets</label>
              <input
                v-model.number="tickets"
                id="tickets"
                class="input-reset ba b--black-20 pa2 mb2 db w-100"
                type="number"
                min="10"
                aria-describedby="tickets-desc"
              />
              <small id="tickets-desc" class="f6 black-60 db mb2">
                Ej:
                <span class="i">10</span>
              </small>
            </div>
          </form>
          <div class="fl w-100">
            <hr />
          </div>
        </div>
        <div class="fl w-100 black-70 templates">
          <div class="fl w-50 ma-ticket pa1" v-for="ticket in tickets">
            <div class="fl w-90 ba ph2 pv2">
              <div class="fl w-100 center dtc bb">
                <img
                  style="max-width: 100%"
                  src="imgs/logo-nuevo-horizontal.png"
                  alt="logo"
                />
              </div>
              <div class="fl w-100 dt mt2">
                <div class="fl w-80 pr2">
                  <div class="fl w-100 pb1 mb1 bt-0 br-0 bl-0 b--dotted bb ">
                    <h4 class="f4 center tc sans-serif mb0 mt0">
                      Contacto 📞 657064589
                    </h4>
                  </div>
                  <div class="fl w-100">
                    <h3 class="f3 mt1 mb1 tc sans-serif ttu">{{ subject }}</h3>
                  </div>
                  <div class="fl w-100">
                    <h3 class="f3 mt1 mb1 tc sans-serif">{{ datetime }}</h3>
                  </div>
                </div>
                <div class="fl w-20 center dtc">
                  <h2 class="f2 fl w-100 tc mt1 mb1 dtc black-60 ma-ticket-num">
                    {{ price }}€
                  </h2>
                  <h2
                    class="f2 fl w-100 tc mt1 mb2 dtc sans-serif pt1 pb1 ba b--dashed b--black-70 bw1 ma-ticket-num"
                  >
                    {{ ticket }}
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          subject: "Salida cultural primavera",
          datetime: "20 de Marzo · 10:00 · TAMA",
          tickets: 10,
          price: 3,
        },
      });
    </script>
  </body>
</html>
